[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = v3_req
x509_extensions    = v3_req
prompt             = no

[ req_distinguished_name ]
CN = 100.90.252.36

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 100.90.252.36
